In [60]:
import pandas as pd
from pathlib import Path
import re
import random
import torch
import torch.nn as nn

In [2]:
path_dataframe = Path('/media/ben/Ubuntu 20_04_4 LTS amd64/submeeting_2022/submeeting_images/pickle_dataframe_saved/')

we have 4 folders: boulouris2 (boulouris harbour), pyramide2, pyramide3 and pyramide4 with videos from this pyramide site

In [5]:
def func_path_folder(N=0):
    """ return the full path to a given directory"""

    path_data = Path('/media/ben/Ubuntu 20_04_4 LTS amd64/submeeting_2022/submeeting_images/total_images_su/')
   
    if N==0:
        folder = 'boulouris2_frames_0_3525_320x240_SU'
    elif N==1:
        folder = 'pyramide2_frames_0_900_step_25_resized_320x240'
    elif N==2:
        folder = 'pyramide3_frames_0_380_320x240_SU'
    elif N==3:
        folder = 'pyramide4_frames_0_900_320x240_SU'

    path_folder = path_data/folder

    return path_folder

In [6]:
path_folder = func_path_folder()
print(path_folder)
for item in path_folder.iterdir():
    print(item)
    break

/media/ben/Ubuntu 20_04_4 LTS amd64/submeeting_2022/submeeting_images/total_images_su/boulouris2_frames_0_3525_320x240_SU
/media/ben/Ubuntu 20_04_4 LTS amd64/submeeting_2022/submeeting_images/total_images_su/boulouris2_frames_0_3525_320x240_SU/000000_b2.jpg

In [7]:
def files_in_folders(N_folders=4):
    """ return a dictionary with the folder name and the number of files in it """
    
    outputdict={}
    for N in range(N_folders):
        count=0
        path_folder = func_path_folder(N)
        for f in path_folder.iterdir():
            count+=1
        mydict = {path_folder.name:count}
        outputdict.update(mydict)
    return outputdict

mydict = files_in_folders()
print(mydict)

{'boulouris2_frames_0_3525_320x240_SU': 142, 'pyramide2_frames_0_900_step_25_resized_320x240': 260, 'pyramide3_frames_0_380_320x240_SU': 107, 'pyramide4_frames_0_900_320x240_SU': 243}

In [34]:
sum(mydict.values())

752

In [8]:
def selecting_images(tmin, tmax, path_input, labels, thres=0.8):
    """ fonction to select images in a given time interval
    this is used to order images by classes
    thres = 0.8 means 20 % for validation set and 80 % for train set"""
    pattern = r"(\d+)"
    path_name = Path('/submeeting_images/')
    new_path = path_name/path_input.name
    list_select = []
    list_all = [f.stem for f in path_input.iterdir()]
    for e in list_all:
        res = re.match(pattern, e)
        if res is not None:
            time = int(res.group(0))
      
        if (time >= tmin) and (time <= tmax):
            list_select.append(e)
    is_valid = []
    for i in range(len(list_select)):
        random_number = random.uniform(0, 1)
        if random_number <= thres:
            is_valid.append(False)
        else:
            is_valid.append(True)

    dict1 = {'fname': list_select, 'labels': labels, 'is_valid': is_valid}
    df = pd.DataFrame(dict1)
    return df

In [17]:
# classes, the observed combinations are given below
cl = ['algen', 'divers', 'robots', 'rocks', 'sand', 'structure','water_only']
algen_rocks = cl[0] +  ' '  + cl[3]
algen_sand = cl[0] + ' ' + cl[4]
algen_rocks_sand = cl[0] + ' ' + cl[3]  + ' ' + cl[4]
algen_rocks_sand_structure = cl[0] + ' ' + cl[3]  + ' ' + cl[4] + ' '+ cl[5]
algen_sand_structure = cl[0] +  ' ' +  cl[4] +  ' ' +  cl[5]
algen_rocks_structure = cl[0] + ' ' + cl[3] + ' ' + cl[5]
algen_rocks_robots = cl[0] + ' ' + cl[3] + ' ' + cl[2]
algen_rocks_robots_structure = cl[0] + ' ' + cl[3] + ' ' + cl[2] + ' ' + cl[5]
algen_divers_rocks = cl[0]   + ' ' + cl[1] + ' ' + cl[3]                                                 
algen_rocks_robots_sand = cl[0] + ' ' + cl[3] + ' ' + cl[2] + cl[4]
water = cl[6]
robots_structure = cl[2] + ' ' + cl[5] 
divers = cl[1]
robots = cl[2]

In [38]:
# for boulouris2 folder
path_folder = func_path_folder(N=0)

df_0_570 = selecting_images(0,570,
                            path_folder,algen_rocks_sand).sort_values(by='fname',ascending=True)
df_575_950 = selecting_images(575,950,
                              path_folder,algen_rocks_sand_structure).sort_values(by='fname',ascending=True)
df_975_1100 = selecting_images(975,1100,
                               path_folder,algen_rocks_sand).sort_values(by='fname',ascending=True)
df_1125_1275 = selecting_images(1125,1275,
                              path_folder,algen_rocks_sand_structure).sort_values(by='fname',ascending=True)
df_1300_1475 = selecting_images(1300,1475,
                              path_folder,algen_rocks_sand).sort_values(by='fname',ascending=True)
df_1500_1850 = selecting_images(1500,1850,
                               path_folder,algen_rocks_sand_structure).sort_values(by='fname',ascending=True)
df_1875_2025 = selecting_images(1875,2025,
                               path_folder,algen_rocks_sand).sort_values(by='fname',ascending=True)
df_2050_2150 = selecting_images(2050,2150,
                             path_folder,algen_rocks).sort_values(by='fname',ascending=True)
df_2175_2180 = selecting_images(2175,2180,path_folder,
                                algen_rocks_sand_structure).sort_values(by='fname',ascending=True)
df_2200_2250 = selecting_images(2200,2250,path_folder,
                                algen_rocks_sand).sort_values(by='fname',ascending=True)
df_2275_2525 = selecting_images(2275,2525,path_folder,
                                algen_rocks_sand_structure).sort_values(by='fname',ascending=True)
df_2550_2570 = selecting_images(2550,2570,
                                path_folder,algen_rocks_sand).sort_values(by='fname',ascending=True)
df_2575_2600 = selecting_images(2575,2600,
                                path_folder,algen_sand).sort_values(by='fname',ascending=True)
df_2625_2640 = selecting_images(2625,2640,
                                path_folder,algen_sand_structure).sort_values(by='fname',ascending=True)
df_2675_2725 = selecting_images(2675,2725,
                                path_folder,algen_rocks_sand).sort_values(by='fname',ascending=True)
df_2750_2925 = selecting_images(2750,2925,
                                path_folder,algen_rocks_sand_structure).sort_values(by='fname',ascending=True)
df_2950_3025 = selecting_images(2950,3025,
                                path_folder,algen_sand).sort_values(by='fname',ascending=True)
df_3050_3100 = selecting_images(3050,3100,
                                path_folder,
                                algen_rocks_sand_structure).sort_values(by='fname',ascending=True)
df_3125_3150 = selecting_images(3125,3150,
                                path_folder,algen_rocks_sand).sort_values(by='fname',ascending=True)
df_3175_3200 = selecting_images(3175,3200,
                                path_folder,algen_rocks_sand_structure).sort_values(by='fname',ascending=True)
df_3225_3275 = selecting_images(3225,3275,
                                path_folder,algen_sand).sort_values(by='fname',ascending=True)
df_3300_3375 = selecting_images(3300,3375,
                                path_folder,algen_rocks_sand_structure).sort_values(by='fname',ascending=True)
df_3400_3420 = selecting_images(3400,3420,
                                path_folder,algen_sand).sort_values(by='fname',ascending=True)
df_3425_3525 = selecting_images(3425,3525,
                                path_folder,algen_rocks_sand_structure).sort_values(by='fname',ascending=True)

In [39]:
df_boulouris2 = pd.concat([df_0_570, df_575_950,
                           df_975_1100, df_1125_1275,
                           df_1300_1475, df_1500_1850,
                           df_1875_2025, df_2050_2150,
                           df_2175_2180, df_2200_2250,
                           df_2275_2525, df_2550_2570,
                           df_2575_2600, df_2625_2640,
                           df_2675_2725, df_2750_2925,
                           df_2950_3025, df_3050_3100,
                           df_3125_3150, df_3175_3200,
                           df_3225_3275, df_3300_3375,
                           df_3400_3420, df_3425_3525],axis=0)

In [40]:
df_boul2 = df_boulouris2.reset_index(drop=True)
print(df_boul2.shape)
df_boul2.head()

(141, 3)

       fname            labels  is_valid
0  000000_b2  algen rocks sand     False
1  000025_b2  algen rocks sand      True
2  000050_b2  algen rocks sand      True
3  000075_b2  algen rocks sand     False
4  000100_b2  algen rocks sand     False

In [53]:
df_boul2.to_pickle(path_dataframe/'df_boul2.pkl')

In [42]:
# pyramide2
path_folder = func_path_folder(N=1)
print(path_folder)

/media/ben/Ubuntu 20_04_4 LTS amd64/submeeting_2022/submeeting_images/total_images_su/pyramide2_frames_0_900_step_25_resized_320x240

In [43]:
# pyramide_2
path_folder = func_path_folder(N=1)

df_p2_0_50 = selecting_images(0,50,path_folder,
                              algen_rocks).sort_values(by='fname',ascending=True)
df_p2_75_100 = selecting_images(75,100,path_folder,
                                algen_rocks_structure).sort_values(by='fname',ascending=True)
df_p2_125_140 = selecting_images(125,140,path_folder,
                                 algen_rocks).sort_values(by='fname',ascending=True)
df_p2_150_175 = selecting_images(150,175,path_folder,
                                 algen_rocks_robots).sort_values(by='fname',ascending=True)
df_p2_200_300 = selecting_images(200,300,path_folder,
                                 algen_rocks_robots_structure).sort_values(by='fname',ascending=True)
df_p2_325_340 = selecting_images(325,340,path_folder,
                                 algen_rocks_robots).sort_values(by='fname',ascending=True)
df_p2_350_375 = selecting_images(350,375,path_folder,
                                 algen_rocks_robots_structure).sort_values(by='fname',ascending=True)
df_p2_400_475 = selecting_images(400,475,path_folder,
                                 algen_rocks_robots).sort_values(by='fname',ascending=True)
df_p2_500_600 = selecting_images(500,600,path_folder,
                                 algen_rocks).sort_values(by='fname',ascending=True)
df_p2_625_800 = selecting_images(625,800,path_folder,
                                 water).sort_values(by='fname',ascending=True)
df_p2_825_925 = selecting_images(825,925,path_folder,
                                 algen_rocks).sort_values(by='fname',ascending=True)
df_p2_950_1075 = selecting_images(950,1075,path_folder,
                                 algen_rocks_robots_structure).sort_values(by='fname',ascending=True)
df_p2_1100_1150 = selecting_images(1100,1150,path_folder,
                                 algen_rocks_structure).sort_values(by='fname',ascending=True)
df_p2_1175_1475  = selecting_images(1175,1475,path_folder,
                                 algen_rocks).sort_values(by='fname',ascending=True)
df_p2_1500_1520 = selecting_images(1500,1520,path_folder,
                                 water).sort_values(by='fname',ascending=True)
df_p2_1525_1700 = selecting_images(1525,1700,path_folder,
                                 algen_rocks).sort_values(by='fname',ascending=True)
df_p2_1725_1825 = selecting_images(1725,1825,path_folder,
                                 algen_rocks_structure).sort_values(by='fname',ascending=True)
df_p2_1850_2325 = selecting_images(1850,2325,path_folder,
                                 algen_rocks).sort_values(by='fname',ascending=True)
df_p2_2375_2475 = selecting_images(2375,2475,path_folder,
                                 water).sort_values(by='fname',ascending=True)
df_p2_2500_2520 = selecting_images(2500,2520,path_folder,
                                 algen_rocks).sort_values(by='fname',ascending=True)
df_p2_2525_2540 = selecting_images(2525,2540,path_folder,
                                 algen_rocks_structure).sort_values(by='fname',ascending=True)
df_p2_2550_2900 = selecting_images(2550, 2900, path_folder,
                                  algen_rocks).sort_values(by='fname',ascending=True)
df_p2_2925_3100 = selecting_images(2925, 3100, path_folder,
                                  algen_rocks_structure).sort_values(by='fname',ascending=True)
df_p2_3125_3140 = selecting_images(3125, 3140, path_folder,
                                  algen_rocks).sort_values(by='fname',ascending=True)
df_p2_3150_3160 = selecting_images(3150, 3160, path_folder,
                                  algen_rocks_structure).sort_values(by='fname',ascending=True)
df_p2_3175_3200 = selecting_images(3175, 3200, path_folder,
                                  algen_rocks).sort_values(by='fname',ascending=True)
df_p2_3225_3250 = selecting_images(3225, 3250, path_folder,
                                  algen_rocks_structure).sort_values(by='fname',ascending=True)
df_p2_3275_3300 = selecting_images(3275, 3300, path_folder,
                                  algen_rocks).sort_values(by='fname',ascending=True)
df_p2_3325_3340 = selecting_images(3325, 3340, path_folder,
                                  algen_rocks_structure).sort_values(by='fname',ascending=True)
df_p2_3350_3360 = selecting_images(3350, 3360, path_folder,
                                  algen_rocks).sort_values(by='fname',ascending=True)
df_p2_3375_3380 = selecting_images(3375, 3380, path_folder,
                                  algen_rocks_structure).sort_values(by='fname',ascending=True)
df_p2_3400_3950 = selecting_images(3400, 3950, path_folder,
                                  algen_rocks).sort_values(by='fname',ascending=True)
df_p2_3975_4025 = selecting_images(3975, 4025, path_folder,
                                  algen_rocks_structure).sort_values(by='fname',ascending=True)
df_p2_4050_4125 =  selecting_images(4050, 4125, path_folder,
                                  algen_rocks_robots_structure).sort_values(by='fname',ascending=True)
df_p2_4150_4175 = selecting_images(4150, 4175, path_folder,
                                  robots_structure).sort_values(by='fname',ascending=True)
df_p2_4225_4375 = selecting_images(4225, 4375, path_folder,
                                  water).sort_values(by='fname', ascending=True)
df_p2_4400_4525 = selecting_images(4400, 4525, path_folder,
                                  algen_rocks_robots_structure).sort_values(by='fname', ascending=True)
df_p2_4550_4675 = selecting_images(4550, 4675, path_folder,
                                  algen_rocks_structure).sort_values(by='fname', ascending=True)
df_p2_4700_5100 = selecting_images(4700, 5100, path_folder,
                                  algen_rocks).sort_values(by='fname', ascending=True)
df_p2_5125_5200 = selecting_images(5125, 5200, path_folder,
                                  water).sort_values(by='fname', ascending=True)
df_p2_5225_5750 = selecting_images(5225, 5750, path_folder,
                                  algen_rocks).sort_values(by='fname', ascending=True)
df_p2_5775_5900 = selecting_images(5775, 5900, path_folder,
                                  algen_divers_rocks).sort_values(by='fname', ascending=True)
df_p2_5925_5975  = selecting_images(5925, 5975, path_folder,
                                  divers).sort_values(by='fname', ascending=True)
df_p2_6000_6150 = selecting_images(6000, 6150, path_folder,
                                  water).sort_values(by='fname', ascending=True)
df_p2_6175_6425 = selecting_images(6175, 6425, path_folder,
                                  algen_divers_rocks).sort_values(by='fname', ascending=True)
df_p2_6450_6475 = selecting_images(6450, 6475, path_folder,
                                  algen_rocks).sort_values(by='fname', ascending=True)

In [45]:
df_p2 = pd.concat([df_p2_0_50, df_p2_75_100, df_p2_125_140, df_p2_150_175, df_p2_200_300,
                  df_p2_325_340, df_p2_350_375, df_p2_400_475, df_p2_500_600, df_p2_625_800,
                  df_p2_825_925, df_p2_950_1075,df_p2_1100_1150, df_p2_1175_1475, df_p2_1500_1520,
                  df_p2_1525_1700, df_p2_1725_1825, df_p2_1850_2325, df_p2_2375_2475, df_p2_2500_2520,
                  df_p2_2525_2540, df_p2_2550_2900,df_p2_2925_3100, df_p2_3125_3140, df_p2_3150_3160,
                  df_p2_3175_3200, df_p2_3225_3250, df_p2_3275_3300, df_p2_3325_3340, df_p2_3350_3360,
                  df_p2_3375_3380, df_p2_3400_3950, df_p2_3975_4025, df_p2_4050_4125, df_p2_4150_4175, 
                  df_p2_4225_4375, df_p2_4400_4525, df_p2_4550_4675, df_p2_4700_5100, df_p2_5125_5200,
                  df_p2_5225_5750, df_p2_5775_5900, df_p2_5925_5975, df_p2_6000_6150, df_p2_6175_6425, 
                  df_p2_6450_6475])

In [47]:
df_p2 = df_p2.reset_index(drop=True)
print(df_p2.shape)
df_p2.head()

(258, 3)

       fname                 labels  is_valid
0  000000_p2            algen rocks      True
1  000025_p2            algen rocks     False
2  000050_p2            algen rocks     False
3  000075_p2  algen rocks structure     False
4  000100_p2  algen rocks structure     False

In [54]:
# save into pickle format pyramide2
df_p2.to_pickle(path_dataframe/'df_p2.pkl')

In [55]:
# pyramide3
path_folder = func_path_folder(N=2)

df_p3_0_125 = selecting_images(0, 125,
                         path_folder,
                         water).sort_values(by='fname', ascending=True)
df_p3_150_375 = selecting_images(150, 375,
                         path_folder,
                         robots).sort_values(by='fname', ascending=True)
df_p3_400_450 = selecting_images(400, 450,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)
df_p3_475_725 = selecting_images(475, 725,
                         path_folder,
                         water).sort_values(by='fname', ascending=True)
df_p3_750_975 = selecting_images(750, 975,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)
df_p3_1000_1050 = selecting_images(1000, 1050,
                         path_folder,
                         water).sort_values(by='fname', ascending=True)
df_p3_1075_1250 = selecting_images(1075, 1250,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)

df_p3_1275_1325 = selecting_images(1275, 1325,
                         path_folder,
                         algen_rocks_structure).sort_values(by='fname', ascending=True)

df_p3_1350_1625 = selecting_images(1350, 1625,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)

df_p3_1650_1675 = selecting_images(1650, 1675,
                         path_folder,
                         water).sort_values(by='fname', ascending=True)

df_p3_1700_1875 = selecting_images(1700, 1875,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)

df_p3_1900_1910 = selecting_images(1900, 1910,
                         path_folder,
                         algen_rocks_structure).sort_values(by='fname', ascending=True)

df_p3_1925_1950 = selecting_images(1925, 1950,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)

df_p3_1975_1985 = selecting_images(1975, 1985,
                         path_folder,
                         algen_rocks_structure).sort_values(by='fname', ascending=True)

df_p3_2000_2050 = selecting_images(2000, 2050,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)

df_p3_2075_2150 = selecting_images(2075, 2150,
                         path_folder,
                         algen_rocks_structure).sort_values(by='fname', ascending=True)

df_p3_2175_2185 = selecting_images(2175, 2185,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)

df_p3_2200_2375 = selecting_images(2200, 2375,
                         path_folder,
                         algen_rocks_structure).sort_values(by='fname', ascending=True)

df_p3_2400_2600 = selecting_images(2400, 2600,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)

df_p3_2625_2650 = selecting_images(2625, 2650,
                         path_folder,
                         water).sort_values(by='fname', ascending=True)

In [56]:
list_df_p3 = [df_p3_0_125, df_p3_150_375, df_p3_400_450, df_p3_475_725, df_p3_750_975, df_p3_1000_1050, 
             df_p3_1075_1250, df_p3_1275_1325, df_p3_1350_1625, df_p3_1650_1675, df_p3_1700_1875,
             df_p3_1900_1910, df_p3_1925_1950, df_p3_1975_1985, df_p3_2000_2050, df_p3_2075_2150,
             df_p3_2175_2185, df_p3_2200_2375, df_p3_2400_2600, df_p3_2625_2650]

In [58]:
df_p3 = pd.concat(list_df_p3, axis=0)
df_p3 = df_p3.reset_index(drop=True)
print(df_p3.shape)
df_p3.head()

(107, 3)

       fname      labels  is_valid
0  000000_p3  water_only     False
1  000025_p3  water_only     False
2  000050_p3  water_only     False
3  000075_p3  water_only     False
4  000100_p3  water_only     False

In [59]:
# save into pickle format pyramide3
df_p3.to_pickle(path_dataframe/'df_p3.pkl')

In [60]:
# pyramide4
path_folder = func_path_folder(N=3)

# pyramide 4
df_p4_0_250 = selecting_images(0, 250,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)
df_p4_275_325 = selecting_images(275, 325,
                         path_folder,
                         algen_rocks_structure).sort_values(by='fname', ascending=True)
df_p4_350_550 = selecting_images(350, 550,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)
df_p4_575_650 = selecting_images(575, 650,
                         path_folder,
                         water).sort_values(by='fname', ascending=True)
df_p4_675_2175 = selecting_images(675, 2175,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)
df_p4_2200_2325 = selecting_images(2200, 2325,
                         path_folder,
                         algen_rocks_structure).sort_values(by='fname', ascending=True)
df_p4_2350_2500 = selecting_images(2350, 2500,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)
df_p4_2525_2600 = selecting_images(2525, 2600,
                         path_folder,
                         water).sort_values(by='fname', ascending=True)
df_p4_2625_3125 = selecting_images(2625, 3125,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)
df_p4_3150_3200 = selecting_images(3150, 3200,
                         path_folder,
                         water).sort_values(by='fname', ascending=True)
df_p4_3225_3600 = selecting_images(3225, 3600,
                                   path_folder,
                                   algen_rocks).sort_values(by='fname', ascending=True)
df_p4_3625_3650 = selecting_images(3625, 3650,
                         path_folder,
                         water).sort_values(by='fname', ascending=True)
df_p4_3675_4075 = selecting_images(3675, 4075,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)
df_p4_4100_4110 = selecting_images(4100, 4110,
                         path_folder,
                         water).sort_values(by='fname', ascending=True)
df_p4_4150_4450 = selecting_images(4150, 4450,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)
df_p4_4475_4575 = selecting_images(4475, 4575,
                         path_folder,
                         water).sort_values(by='fname', ascending=True)
df_p4_4600_5025 = selecting_images(4600, 5025,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)
df_p4_5050_5125 = selecting_images(5050, 5125,
                         path_folder,
                         water).sort_values(by='fname', ascending=True)
df_p4_5150_5200 = selecting_images(5150, 5200,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)
df_p4_5225_5325 = selecting_images(5225, 5325,
                         path_folder,
                         algen_rocks_structure).sort_values(by='fname', ascending=True)
df_p4_5350_5500 = selecting_images(5350, 5500,
                         path_folder,
                         algen_rocks).sort_values(by='fname', ascending=True)
df_p4_5525_5550 = selecting_images(5525, 5550,
                         path_folder,
                         algen_rocks_robots).sort_values(by='fname', ascending=True)
df_p4_5575_5750 = selecting_images(5575, 5750,
                         path_folder,
                         water).sort_values(by='fname', ascending=True)
df_p4_5775_5925 = selecting_images(5775, 5925,
                         path_folder,
                         robots).sort_values(by='fname', ascending=True)
df_p4_5950_6050 = selecting_images(5950, 6050,
                         path_folder,
                         water).sort_values(by='fname', ascending=True)

In [62]:
list_p4 = [df_p4_0_250, df_p4_275_325, df_p4_350_550, df_p4_575_650, df_p4_675_2175, df_p4_2200_2325, 
          df_p4_2350_2500, df_p4_2525_2600, df_p4_2625_3125, df_p4_3150_3200, df_p4_3225_3600, 
          df_p4_3625_3650, df_p4_3675_4075, df_p4_4100_4110, df_p4_4150_4450, df_p4_4475_4575, df_p4_4600_5025,
          df_p4_5050_5125, df_p4_5150_5200, df_p4_5225_5325, df_p4_5350_5500, df_p4_5525_5550, df_p4_5575_5750,
          df_p4_5775_5925, df_p4_5950_6050]
df_p4 = pd.concat(list_p4, axis=0)
df_p4 = df_p4.reset_index(drop=True)
print(df_p4.shape)
df_p4.head()

(242, 3)

       fname       labels  is_valid
0  000000_p4  algen rocks     False
1  000025_p4  algen rocks      True
2  000050_p4  algen rocks     False
3  000075_p4  algen rocks     False
4  000100_p4  algen rocks     False

In [63]:
# save into pickle format pyramide4
df_p4.to_pickle(path_dataframe/'df_p4.pkl')

In [68]:
#read_dataframes
df_boul2 = pd.read_pickle(path_dataframe/'df_boul2.pkl')
df_p2 = pd.read_pickle(path_dataframe/'df_p2.pkl')
df_p3 = pd.read_pickle(path_dataframe/'df_p3.pkl')
df_p4 = pd.read_pickle(path_dataframe/'df_p4.pkl')


# create the total dataframe for supervised learning
list_frames = [df_boul2, df_p2, df_p3, df_p4]
df_total_su = pd.concat(list_frames)
df_total_su = df_total_su.reset_index(drop=True)
print(df_total_su.shape)
df_total_su.head()

(748, 3)

       fname            labels  is_valid
0  000000_b2  algen rocks sand     False
1  000025_b2  algen rocks sand      True
2  000050_b2  algen rocks sand      True
3  000075_b2  algen rocks sand     False
4  000100_b2  algen rocks sand     False

In [66]:
df_total_su.to_pickle(path_dataframe/'df_total.pkl')

In [69]:
df_total_su.tail()

         fname      labels  is_valid
743  005950_p4  water_only     False
744  005975_p4  water_only     False
745  006000_p4  water_only      True
746  006025_p4  water_only      True
747  006050_p4  water_only     False

In [10]:
df = pd.read_pickle(path_dataframe/'df_total.pkl')

In [58]:
df_encoded = df.copy()

In [57]:
# one hot encoding
def one_hot_label_encoder(dataframe):
   
    str_to_int = {"algen":0,"divers":1,"robots":2,"rocks":3,"sand":4,"structure":5,"water_only":6}
    Y_onehot = []
    #Y_onehot = torch.zeros((len(dataframe),3))
    for i in range(len(dataframe)):
        labels = dataframe.iloc[i]['labels'].split(' ')

        labels_coded = torch.LongTensor([str_to_int[label] for label in labels])
    
        y_onehot = nn.functional.one_hot(labels_coded, num_classes=7)
        
        y_onehot = y_onehot.sum(dim=0).float()
        y_onehot = y_onehot.numpy()
        Y_onehot.append(y_onehot)
   
        
    return Y_onehot

In [62]:
df_encoded['labels_encoded'] = one_hot_label_encoder(df_encoded)

In [63]:
df_encoded.head()

       fname            labels  is_valid                       labels_encoded
0  000000_b2  algen rocks sand     False  [1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0]
1  000025_b2  algen rocks sand      True  [1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0]
2  000050_b2  algen rocks sand      True  [1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0]
3  000075_b2  algen rocks sand     False  [1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0]
4  000100_b2  algen rocks sand     False  [1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0]

In [66]:
# save into pickle format pyramide4
df_encoded.to_pickle(path_dataframe/'df_total_encoded_su.pkl')